@use '../../../../../../styles/abstracts/variables' as *;

.filters {
  padding: $space-xs;
  background-color: $color-gray-05;
}

.goals-table tr.clickable {
  cursor: pointer;

  &:hover td {
    background-color: $color-gray-05;
  }
}
