<div class="main-layout">
  <header class="global-header">
    <img src="/favicon.ico" alt="logo" />
    <h1>{{ title() }}</h1>
  </header>
  <!-- <nav class="breadcrumb"><span>Aprendizaje</span><span>></span></nav> -->

  <nav class="navbar">
    <ol class="navbar__list">
      <li class="navbar__item">
        <button class="navbar__btn" (click)="toggleSubmenu('component')">
          <img class="navbar__btn-icon" src="images/icons/icons8-puzzle.svg" alt="puzzle piece" />
          <span class="navbar__btn-text">Aprendizaje</span>
          <div class="navbar__btn-indicator" [class.open]="isSubmenuOpen('component')">
            <span class="navbar__btn-arrow navbar__btn-arrow--up navbar__btn-arrow--hidden"
              >&uarr;</span
            >
            <span class="navbar__btn-arrow navbar__btn-arrow--down">&darr;</span>
          </div>
        </button>
        <ol class="navbar__submenu navbar__submenu--open" [class.open]="isSubmenuOpen('component')">
          <li>
            <a class="navbar__link" routerLink="/lifehub/learning">Metas</a>
          </li>
          <li><a class="navbar__link">Attribute</a></li>
          <li><a class="navbar__link">Event</a></li>
          <li>
            <a class="navbar__link">Input</a>
            <ol
              class="navbar__submenu navbar__submenu--open"
              [class.open]="isSubmenuOpen('component')"
            >
              <li>
                <a class="navbar__link" routerLink="component/input/basic-input-example"
                  >01 Basic input example</a
                >
              </li>
              <li>
                <a class="navbar__link" routerLink="component/input/getter-input-example"
                  >02 Getter input example</a
                >
              </li>
              <li>
                <a class="navbar__link" routerLink="component/input/transform-input-example"
                  >03 Transform input example</a
                >
              </li>
            </ol>
          </li>
          <li>
            <a class="navbar__link">Output</a>
            <ol
              class="navbar__submenu navbar__submenu--open"
              [class.open]="isSubmenuOpen('component')"
            >
              <li>
                <a class="navbar__link" routerLink="component/output/basic-output-example"
                  >03 Transform input example</a
                >
              </li>
            </ol>
          </li>
        </ol>
      </li>
      <li class="navbar__item">
        <button class="navbar__btn" (click)="toggleSubmenu('architecture')">
          <img class="navbar__btn-icon" src="images/icons/design_pattern.svg" alt="puzzle piece" />
          <span class="navbar__btn-text">Arquitectura</span>
          <div class="navbar__btn-indicator" [class.open]="isSubmenuOpen('architecture')">
            <span class="navbar__btn-arrow navbar__btn-arrow--up navbar__btn-arrow--hidden"
              >&uarr;</span
            >
            <span class="navbar__btn-arrow navbar__btn-arrow--down">&darr;</span>
          </div>
        </button>
      </li>
    </ol>
  </nav>

  <!-- <a target="_blank" href="https://icons8.com/icon/12782/puzzle">Puzzle</a> icono de <a target="_blank" href="https://icons8.com">Icons8</a> -->

  <main class="main">
    <router-outlet></router-outlet>
  </main>

  <footer></footer>
</div>
