*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* No agrega los bordes y rellenos a la altura o ancho total */
  box-sizing: inherit
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
